Importing the required libraries and loading the dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('bbc-text.csv',encoding='latin-1')

In [3]:
train.head(10)

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...
5       politics  howard hits back at mongrel jibe michael howar...
6       politics  blair prepares to name poll date tony blair is...
7          sport  henman hopes ended in dubai third seed tim hen...
8          sport  wilkinson fit to face edinburgh england captai...
9  entertainment  last star wars  not for children  the sixth an...

In [4]:
arr = train.values
rows = arr.shape[0]
cols = arr.shape[1]
cat = []
text = []

Converting the different labels to a integer value for easy classification

In [5]:
for i in range(0,rows):
    if arr[i][0] == 'sport':
        cat.append(1)
    if arr[i][0] == 'business':
        cat.append(2)
    if arr[i][0] == 'politics':
        cat.append(3)
    if arr[i][0] == 'tech':
        cat.append(4)
    if arr[i][0] == 'entertainment':
        cat.append(5)
        
    text.append(arr[i][1])

Converting the array back to csv file for analysis.

In [ ]:
submission = pd.DataFrame({"category": cat, "text": text})
submission.to_csv("bbc.csv", index=False)